{% extends 'store/base.html' %}


{% block content %}


<div class="container">


    <div class="row justify-content-center">


        <div class="col-md-8">


            <div class="card shadow">


                <div class="card-body">


                    {% if store %}

                        <h1>
                            Edit Store
                        </h1>

                    {% else %}

                        <h1>
                            Create Store
                        </h1>

                    {% endif %}


                    <form method="POST">

                        {% csrf_token %}

                        {{ form.as_p }}


                        <button
                            type="submit"
                            class="btn btn-success"
                        >
                            Save Store
                        </button>


                        <a
                            href="{% url 'vendor_dashboard' %}"
                            class="btn btn-secondary"
                        >
                            Cancel
                        </a>

                    </form>


                </div>


            </div>


        </div>


    </div>


</div>


{% endblock %}